body {
background: url(Imagens/FundoLight.jpg);
background-color: #ff7d6d;
}

.bg {
margin: auto;
background-image:url("Imagens/02Fundo.png");
background-position:center;
width: 1024px;
height: 768px;
}



.menu {
float: left;
margin-left: 8px;
background-image: url("Imagens/MenuUltimo%20copy.png");
background-position: center;
background-repeat: no-repeat;
width: 325px;
height: 330px;
}

.header {
	width: auto;
	height: 170px;
	/*margin-top: 5px;*/
	padding-top: 10px;
	/*background-image:url(04Header.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
}

.conteudo {
	float: right;
	background-image:url("Imagens/0303Conteudo.png");
	background-repeat:no-repeat;
	width:680px;
	height:560px;
	padding-right: 10px;
	
	/*border-style:dotted;*/
	border-width:medium;
	border-color:red;
}

.referencias {		
	overflow: auto;
	width: 660px;
	height: 480px;
}

.texto {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:14px;	
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
	text-align: justify;
}

.rodape {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#D7D7D7;
	text-align:center;
	clear: both;
	padding-top: 10px;
}

.menu ul {
	list-style:none;
	padding: 0px;
	margin: 0px;	
}
.menu li a:link, .menu li a:visited{
	/*color: #999;
	display: block;
	background:url(botaoHome.jpg);
	background-repeat:no-repeat;
	height:40px;
	width: auto;
	*/
}

#botaoHome a:link, #botaoHome a:visited{
	display: block;
	background:url(Imagens/botaoHome.jpg);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
	margin-top: 37px;
}

#botaoHome a:hover {
	/*display: block;*/
	background:url(Imagens/botaoHomeClick2.gif);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}


#botaoHistoria a:link, #botaoHistoria a:visited{
	display: block;
	background:url(Imagens/botaoHistoria.jpg);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoHistoria a:hover {
	/*display: block;*/
	background:url(Imagens/botaoHistoriaClick2.gif);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoEmpresa a:link, #botaoEmpresa a:visited{
	display: block;
	background:url(Imagens/botaoCriadores.jpg);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoEmpresa a:hover {
	/*display: block;*/
	background:url(Imagens/botaoCriadoresClick2.gif);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoJogos a:link, #botaoJogos a:visited{
	display: block;
	background: url(Imagens/botaoJogosIntacto.jpg);
	background-repeat:no-repeat;
	height: 40px;
	width:300px;	
}

#botaoJogos a:hover {
	background: url(Imagens/botaoJogosClick2.gif);
	background-repeat: no-repeat;
	height: 40px;
	width: 300px;
}

#botaoContato a:link, #botaoContato a:visited{
	display: block;
	background:url(Imagens/botaoContato.jpg);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoContato a:hover {
	/*display: block;*/
	background:url(Imagens/botaoContatoClick2.gif);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}
	
#botaoReferencias a:link, #botaoReferencias a:visited{
	display: block;
	background:url("Imagens/botaoReferencias.jpg");
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoReferencias a:hover {
	/*display: block;*/
	background:url("Imagens/botaoReferenciasClick2.gif");
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}

#botaoAtari2600 a:link, #botaoAtari2600 a:visited {	
	display: block;
	background:url(Imagens/botaoAtari2600SemMexer.jpg);
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}
		
	

#botaoAtari2600 a:hover {
	background:url("Imagens/botaoAtari2600Click2.gif");
	background-repeat: no-repeat;
	height:40px;
	width: 300px;
}